* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.invader-container {
    float: left;
    position: relative;
}

.game-area {
    width: 700px;
    margin: 0 auto;
    position: relative;
    border: 1px dotted grey;
    height: 100%;
}

.invaders-wrapper {
    position: relative;
    left: 0;
    width: 600px;
}

.defender {
    position: absolute;
    bottom: 0;
}

.invader-bullet {
    width: 3px;
    height: 7px;
    background-color: red;
    position: absolute;
}